In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
from sqlalchemy import create_engine
from config import username,password

In [2]:
url = 'https://www.worldometers.info/coronavirus/country/us/'

r = requests.get(url)
tables = pd.read_html(r.text)
covid_table = tables[0]
covid_table

,#,USAState,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population,Source,Projections
0,NaN,USA Total,30423093,"+63,287",553917.0,"+1,141",22606602.0,7262574.0,91912.0,1673.0,387273535.0,1170001.0,NaN,NaN,NaN
1,1.0,California,3637743,"+2,145",56962.0,+140,1918291.0,1662490.0,92066.0,1442.0,51811542.0,1311279.0,39512223.0,[view by county] [1],[projections]
2,2.0,Texas,2753001,"+3,561",47421.0,+167,2595709.0,109871.0,94945.0,1635.0,24625254.0,849267.0,28995881.0,[view by county] [1] [2] [3],[projections]
3,3.0,Florida,1999257,"+5,140",32667.0,+54,1340143.0,626447.0,93085.0,1521.0,24398922.0,1136010.0,21477737.0,[view by county] [1] [2] [3],[projections]
4,4.0,New York,1819957,"+8,018",49616.0,+77,944454.0,825887.0,93554.0,2550.0,42294145.0,2174108.0,19453561.0,[view by county] [1] [2] [3],[projections]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,60.0,Navajo Nation,29987,NaN,1228.0,NaN,16289.0,12470.0,NaN,NaN,250472.0,NaN,NaN,[1] [2] [3],NaN
61,61.0,Grand Princess Ship,122,NaN,7.0,NaN,115.0,0.0,NaN,NaN,NaN,NaN,NaN,[1],NaN
62,62.0,Wuhan Repatriated,3,NaN,NaN,NaN,3.0,0.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN
63,63.0,Diamond Princess Ship,46,NaN,NaN,NaN,46.0,0.0,NaN,NaN,46.0,NaN,NaN,NaN,NaN
64,NaN,Total:,30423093,"+63,287",553917.0,"+1,141",22606602.0,7262574.0,91912.0,1673.0,387273535.0,1170001.0,NaN,NaN,NaN

In [3]:
covid_table = covid_table.drop(columns=['NewCases', 'NewDeaths','TotalTests','Tests/ 1M pop','Population','Source','Projections'])

In [4]:
covid_table = covid_table.drop(columns=['#'])
covid_table

,USAState,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop
0,USA Total,30423093,553917.0,22606602.0,7262574.0,91912.0,1673.0
1,California,3637743,56962.0,1918291.0,1662490.0,92066.0,1442.0
2,Texas,2753001,47421.0,2595709.0,109871.0,94945.0,1635.0
3,Florida,1999257,32667.0,1340143.0,626447.0,93085.0,1521.0
4,New York,1819957,49616.0,944454.0,825887.0,93554.0,2550.0
...,...,...,...,...,...,...,...
60,Navajo Nation,29987,1228.0,16289.0,12470.0,NaN,NaN
61,Grand Princess Ship,122,7.0,115.0,0.0,NaN,NaN
62,Wuhan Repatriated,3,NaN,3.0,0.0,NaN,NaN
63,Diamond Princess Ship,46,NaN,46.0,0.0,NaN,NaN
64,Total:,30423093,553917.0,22606602.0,7262574.0,91912.0,1673.0

In [21]:
covid_table = covid_table.drop([59,60,61,62,63])
covid_table

,USAState,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,Tot Cases/1M pop,Deaths/1M pop
0,USA Total,30358880,552347.0,22523799.0,7282734.0,91718.0,1669.0
1,California,3635598,56701.0,1914453.0,1664444.0,92012.0,1435.0
2,Texas,2749440,47257.0,2590824.0,111359.0,94822.0,1630.0
3,Florida,1994117,32613.0,1329665.0,631839.0,92846.0,1518.0
4,New York,1811288,49539.0,932935.0,828814.0,93108.0,2547.0
5,Illinois,1216090,23287.0,1135756.0,57047.0,95968.0,1838.0
6,Georgia,1040817,18420.0,596487.0,425910.0,98029.0,1735.0
7,Ohio,995785,17992.0,946602.0,31191.0,85189.0,1539.0
8,Pennsylvania,982122,24854.0,898699.0,58569.0,76716.0,1941.0
9,North Carolina,891314,11783.0,852732.0,26799.0,84983.0,1123.0
10,New Jersey,853349,24076.0,627532.0,201741.0,96074.0,2711.0
11,Arizona,834607,16645.0,785612.0,32350.0,114664.0,2287.0
12,Tennessee,796624,11681.0,772665.0,12278.0,116650.0,1710.0
13,Michigan,683398,16843.0,556697.0,109858.0,68430.0,1687.0
14,Indiana,675388,12907.0,520198.0,142283.0,100322.0,1917.0
15,Massachusetts,608318,16759.0,565929.0,25630.0,88258.0,2431.0
16,Virginia,600550,10182.0,49395.0,540973.0,70359.0,1193.0
17,Wisconsin,571220,6556.0,558115.0,6549.0,98107.0,1126.0
18,Missouri,568926,8914.0,386465.0,173547.0,92698.0,1452.0
19,South Carolina,537498,8938.0,NaN,NaN,104395.0,1736.0
20,Alabama,510048,10391.0,310742.0,188915.0,104024.0,2119.0
21,Minnesota,501458,6830.0,485358.0,9270.0,88917.0,1211.0
22,Colorado,446580,6142.0,299195.0,141243.0,77548.0,1067.0
23,Louisiana,439543,9974.0,426243.0,3326.0,94550.0,2146.0
24,Oklahoma,434075,4788.0,417734.0,11553.0,109699.0,1210.0
25,Kentucky,419149,5504.0,48964.0,364681.0,93818.0,1232.0
26,Maryland,396746,8113.0,9787.0,378846.0,65625.0,1342.0
27,Utah,380340,2041.0,367018.0,11281.0,118635.0,637.0
28,Iowa,372440,5672.0,326506.0,40262.0,118045.0,1798.0
29,Washington,356063,5230.0,176006.0,174827.0,46759.0,687.0
30,Arkansas,328045,5515.0,319771.0,2759.0,108703.0,1827.0
31,Mississippi,301924,6938.0,287341.0,7645.0,101448.0,2331.0
32,Kansas,301763,4850.0,282625.0,14288.0,103581.0,1665.0
33,Nevada,300415,5157.0,269236.0,26022.0,97532.0,1674.0
34,Connecticut,295484,7822.0,259572.0,28090.0,82878.0,2194.0
35,Nebraska,205539,2130.0,158999.0,44410.0,106254.0,1101.0
36,New Mexico,189158,3877.0,169889.0,15392.0,90211.0,1849.0
37,Idaho,176802,1938.0,98510.0,76354.0,98934.0,1084.0
38,Oregon,160622,2353.0,141121.0,17148.0,38083.0,558.0
39,West Virginia,136716,2570.0,128845.0,5301.0,76286.0,1434.0
40,Rhode Island,132616,2594.0,8124.0,121898.0,125185.0,2449.0
41,South Dakota,115203,1919.0,111120.0,2164.0,130223.0,2169.0
42,Montana,102616,1406.0,100217.0,993.0,96012.0,1316.0
43,North Dakota,101403,1459.0,99171.0,773.0,133064.0,1915.0
44,Delaware,91425,1517.0,83108.0,6800.0,93888.0,1558.0
45,New Hampshire,79702,1207.0,76155.0,2340.0,58617.0,888.0
46,Alaska,58580,306.0,50446.0,7828.0,80077.0,418.0
47,Wyoming,55479,693.0,54378.0,408.0,95859.0,1197.0
48,Maine,47832,727.0,12905.0,34200.0,35584.0,541.0
49,District Of Columbia,42892,1046.0,30631.0,11215.0,60775.0,1482.0
50,Hawaii,28509,451.0,NaN,NaN,20135.0,319.0
51,Vermont,17247,217.0,14507.0,2523.0,27640.0,348.0

In [46]:
covid_table = covid_table.rename(covid_table={"Total Cases/1M pop": "TotalCasespermillpop"})

In [48]:
covid_table = covid_table.rename(columns={covid_table.columns[5]: 'totalcasespermillpop'})

In [49]:
for col in covid_table.columns: 
    print(col)

usastate
totalcases
totaldeaths
totalrecovered
activecases
totalcasespermillpop
deathspermillpop

In [4]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/etl')

In [5]:
engine.table_names()

['us_poverty', 'us_population_2019', 'us_covid_case', 'us_vaccination']

In [52]:
covid_table.to_sql(name='us_covid_case', con=engine, if_exists='append', index=False)

In [53]:
pd.read_sql_query('select * from us_covid_case', con=engine).head()

,usastate,totalcases,totaldeaths,totalrecovered,activecases,totalcasespermillpop,deathspermillpop
0,USA Total,30423093,553917.0,22606602.0,7262574.0,91912.0,1673.0
1,California,3637743,56962.0,1918291.0,1662490.0,92066.0,1442.0
2,Texas,2753001,47421.0,2595709.0,109871.0,94945.0,1635.0
3,Florida,1999257,32667.0,1340143.0,626447.0,93085.0,1521.0
4,New York,1819957,49616.0,944454.0,825887.0,93554.0,2550.0